<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>

    <nav>
        <a href="/about">About Us</a>
        <a href="/">Home</a>
        <a href="/contact">Contact Us</a>
    </nav>
    <h1>Weather Data API</h1>
<!--    <img src="{{url_for ('static',filename='Abi.png')}}" style="height:300px">-->
    <p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
    <p>URL example: http://127.0.0.1:5000/api/v1/10/1988-10-25</p>
    <p>{{data|safe}}</p>
</body>
</html>